* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after { box-sizing: border-box; }
html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
footer,
header,
main,
section { display: block; }
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Roboto', serif;
  font-size: 14px;
  line-height: 22px;
  color: #666;
  font-weight: 300;
  background: #eee url('../img/grey.png') repeat;
}
p { margin: 0 0 1em 0; }
a {
  color: #ca7c16;
  background: transparent;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
  color: #6c3412;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Roboto', serif;
  margin: 0;
  font-weight: 400;
}
h1,
.h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 38px;
  line-height: 2.375rem;
  margin-top: .7em;
  margin-bottom: 1em;
  font-weight: 800;
}
h2,
.h2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 32px;
  line-height: 2rem;
  margin-top: 1.4em;
  margin-bottom: .7em;
  font-weight: 400;
}
h3,
.h3 {
  font-size: 22px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 400;
}
h4,
.h4 {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: .5em;
  font-weight: 800;
}

hr,
.hr {
  box-sizing: content-box;
  height: 1px;
  background: #eee;
  border: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
ul,
ol {
  margin: 1em 0 2em 0;
  padding: 0 0 0 40px;
}
ul li,
ol li { margin-bottom: 5px; }

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  padding: 8px 15px;
  border: 1px solid #bbb;
  background-color: #fff;
  border-radius: 2px;
  font-family: 'Roboto', serif;
  color: #666;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
textarea:hover,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}
.clear:after { clear: both; }
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after { clear: both; }
.row {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
}
.col-1 { width: 8.33333333%; }
.col-2 { width: 16.66666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333%; }
.col-5 { width: 41.66666667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33333333%; }
.col-8 { width: 66.66666667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333333%; }
.col-11 { width: 91.66666667%; }
.col-12 { width: 100%; }

/* Helper classes */
.text-center { text-align: center;}
.text-right { text-align: right;}
.upper { text-transform: uppercase;}
.muted { color: #888;}

.btn {
  display: inline-block;
  position: relative;
  padding: 0 22px;
  border: 1px solid #ca7c16;
  color: #fff;
  background-color: #ca7c16;
  height: 34px;
  line-height: 30px;
  outline: none;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  transition: all .3s;
}
.btn:hover,
.btn:active,
.btn.active {
  background-color: #b16b0f;
  color: #fff;
  text-decoration: none;
}
.btn-icon {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 50px;
  opacity: .7;
  transition: all .3s;
}
.btn:hover .btn-icon,
.btn:active .btn-icon {
  top: 56px;
  opacity: .2;
}


/* ------ header -------*/
.header {
  padding: 20px 0;
}

.logo {
  color: #999;
}

/* ------ footer -------*/
.footer {
  padding: 30px 0 20px;
}

.copy {
  padding-top: 15px;
  text-align: center;
  position: relative;
}

.copy:after {
  display: block;
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  background-color: #ca7c16;
  top: 0;
  left: 50%;
  margin-left: -15px;
}

/* ------- filter ----------*/
.filter {
  padding: 10px 0 30px;
  text-align: center;
}

.filter .btn {
  border-radius: 15px;
  border: 2px solid #ddd;
  width: 40px;
  height: 26px;
  margin: 0 25px 0 5px;
  background-color: transparent;
  cursor: pointer;
}

.filter label {
  vertical-align: top;
  line-height: 26px;
  cursor: pointer;
}

.filter .btn.active {
  background-color: #fff;
  border-color: #ccc;
}

.filter .btn:hover {
  background-color: #fff;
}

.filter .btn:after {
  position: absolute;
  content: '';
  display: inline-block;
  top: 1px;
  right: 1px;
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 15px;
  transition: all .3s ease-in-out;
}

.filter .btn.active:after {
  right: auto;
  left: 1px;
  background-color: #ca7c16;
}

/* ---- grid ---- */
.grid {
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item { width: 33%; }
.grid-item {
  float: left;
  height: 380px;
  background: #fff;
  border: 2px solid #f2f2f2;
  overflow: hidden;
}

.item-w2 { width: 66%; }
.item-h2 { height: 760px; }

/* ---------- .feat-box --------------*/
.feat-box {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.feat-box:after {
  z-index: 9;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.feat-box:hover:after {
  opacity: .7;
}

#pyramids-of-gizao { background-image: url('../img/great-pyramids-of-giza.jpg'); }
#hanging-gardens-of-babylon { background-image: url('../img/hanging-gardens-of-babylon.jpg'); }
#statue-of-zeus-at-olympia { background-image: url('../img/statue-of-zeus.jpg'); }
#temple-of-artemis-at-ephesus { background-image: url('../img/temple-of-artemis.jpg'); }
#mausoleum-at-halicarnassus { background-image: url('../img/halicarnassus.jpg'); }
#colossus-of-rhodes { background-image: url('../img/colossus-of-rhodes.jpg'); }
#lighthouse-of-alexandria { background-image: url('../img/lighthouse-of-alexandria.jpg'); }
#chichen-itza { background-image: url('../img/chichen-itza.jpg'); }
#colosseum { background-image: url('../img/colosseum.jpg'); }
#christ-the-redeemer { background-image: url('../img/christ.jpg'); }
#great-wall-of-china { background-image: url('../img/great-wall-of-china.jpg'); }
#machu-picchu { background-image: url('../img/machu-picchu.jpg'); }
#petra { background-image: url('../img/petra.jpg'); }
#taj-mahal { background-image: url('../img/taj-mahal.jpg'); }

.feat-box-txt {
  padding: 10px 20px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  transition: all .3s ease-in-out;
  transform: translateY(150px);
}

.feat-title {
  font-weight: 300;
  color: #90471a;
  margin-bottom: 5px;
}

.native {
  color: #777;
}

.feat-link {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #333;
  right: 20px;
  bottom: 17px;
}

.feat-link:after {
  display: block;
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  background-color: #90471a;
  top: -5px;
  left: 0;
  transition: width .3s ease-in-out;
}

.feat-link:hover:after { width: 100%; }

.comment-list {
  padding-left: 10px;
  list-style: none;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.comment-list li {
  position: relative;
  padding-left: 25px;
}

.comment-list li:before {
  content: "\f075";
  position: absolute;
  left: 0;
  top: 3px;
  width: 25px;
  color: #ccc;
  font: normal normal normal 14px/1 FontAwesome;
}

.feat-box .comment-list {
  opacity: 0;
  height: 0;
  transition: all .4s ease-in-out;
  transform: translateY(100px);
}

.feat-box:hover .comment-list {
  opacity: 1;
  height: auto;
  transform: translateY(0);
}

.feat-box:hover .feat-box-txt {
  height: auto;
  transform: translateY(0);
}

.rating,
.rating-sm {
  display: inline-block;
  color: #deab2a;
  list-style: none;
  padding: 0;
  margin: 7px 0;
  position: relative;
  transition: all .3s ease-in-out;
}

.rating li,
.rating-sm li {
  display: inline-block;
  margin: 0 2px;
}

.rating label,
.rating-sm label {
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.rating:hover { padding-left: 50px;}

.rating:hover label { opacity: 1; }

.rating-sm li { font-size: 12px; }

.feat-box .rating {
  position: absolute;
  left: 20px;
  bottom: 10px;
}

.rating-comment { transition: none; }

.rating-comment:hover { padding-left: 0;}

#star {
  color: #deab2a;
  padding: 5px 0 15px;
}

/* ----------  inner page   ------------ */
.section-main { padding-bottom: 50px; }

.feat-desc,
.feat-comments {
  background-color: #fff;
  padding: 5px 20px 15px;
  border-right: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
}

.feat-desc {
  position: absolute;
  right: 10px;
  bottom: -30px;
  max-width: 480px;
}

.feat-img { position: relative; }

.feat-img img {
  display: block;
  width: 100%;
}

.feat-img-title {
  position: absolute;
  padding: 10px 20px;
  left: 0;
  top: 0;
  margin: 0;
  color: #fff;
  background: rgba(0,0,0,.3);
  text-shadow: 1px 1px 1px #000;
}

.comment-list-big {
  padding: 0;
  list-style: none;
  font-size: 15px;
  line-height: 24px;
}

.comment-list-big > li {
  padding: 5px 5px 10px 30px;
  position: relative;
}

.comment-list-big > li:before {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 0;
  color: #bbb;
  content: "\f10e";
  font: normal normal normal 19px/1 FontAwesome;
}

.author,
.date {
  display: inline-block;
  padding: 5px 15px;
  font-size: 13px;
}

@media only screen and (max-width: 750px) {

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 { width: 100%;}

  .grid-sizer,
  .item-w2,
  .grid-item { width: 100%; }

  .feat-box-txt,
  .feat-box .comment-list {
    transition: none;
    transform: translateY(0);
    height: auto;
    opacity: 1;
  }

}
