  <section class="wonder-details-grid" [hidden]="hidden">

    <section class="section-main">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <!-- TODO: Better looking back button -->
            <button class="btn" (click)="back()">Back</button>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="feat-img">
              <img src="{{wonder?.imageInfo?.imageLink}}" alt="{{wonder?.englishName}}" (click)="back()">
            </div>
          </div>

          <div class="feat-desc">
            <h3>{{wonder?.englishName}}</h3>
            <average-rating [averageRating]="wonder?.averageRating"></average-rating>
            <p>{{wonder?.description}}</p>
          </div>
        </div>
      </div>
    </section><!-- /.section-main -->

    <section class="section-comments">
      <div class="container">
        <div class="row">
          <div class="col-10">
            <div class="feat-comments">
              <h3>Comments</h3>
              <hr>
              <ul class="comment-list-big">
                <template ngFor #comment [ngForOf]="commentList">
                  <li>
                    {{comment?.body}}
                    <br>
                    <average-rating [averageRating]="comment?.rating"></average-rating>
                    <span class="author">
                      {{comment?.user ? comment?.user : 'Anonymous'}}
                    </span>
                    <span class="date"><i class="fa fa-clock-o"></i>{{comment?.QueuedAt}}</span>
                  </li>
                </template>
              </ul>
              <form action="post">
                <h4>Leave a comment &amp; rate this wonder</h4>
                <textarea [(ngModel)]="newComment.body" name="" id="" cols="30" rows="5"></textarea>
                <br>
                <label for="author">User:</label><br/>
                <input type="text" [(ngModel)]="newComment.user" />
                <br>
                <label for="">Rate Wonder:</label>
                <div id="star"></div>
                <br>
                <button (click)="submitComment()" class="btn" type="submit">Comment <i class="fa fa-commenting"></i></button>
              </form>
            </div><!-- /.feat-comments -->
          </div>
        </div>
      </div><!-- /container -->
    </section><!-- /.section-comments -->
</section>
